{% extends "base.html" %}
{% block page %}
    {% if not real_data %}
    <ons-card>
        <div class="content">
            <p>Дорогие друзья! Сейчас сайт работает в тестовом режиме.
                Голосование будет работать только во время конкурса.</p>

            <p>Не потеряйте и не показывайте никому шестизначный номер,
                который выполучили с билетом! Это ваш пароль для голосования.</p>
        </div>
    </ons-card>
    {% endif %}

    <ons-card>
        <div class="content">
        {% if voting_started %}
        Выберите участниц, за которых хотите отдать свой голос.
        {% else %}
        Голосование ещё не началось.
        {% endif %}
        </div>
    </ons-card>

    <form id="main_form" action="/vote-prepare">
        <ons-list>
            {% for girl in girls %}
            <ons-list-item tappable>
                {% if voting_started %}
                <label class="left">
                    <ons-checkbox input-id="checkbox-{{ girl.girlid }}" name="girls" value="{{ girl.girlid }}"></ons-checkbox>
                </label>
                {% endif %}
                <label for="checkbox-{{ girl.girlid }}" class="center">
                    <ons-row style="margin-right: 10px;">
                        <ons-col>{{ girl.name }}, <em>{{ girl.faculty }}</em></ons-col>
                        <ons-col width="60px" style="text-align: right;"><span class="notification">{{ girl.votes }} <ons-icon icon="fa-heart"></ons-icon></span></ons-col>
                    </ons-row>
                </label>
            </ons-list-item>
            {% endfor %}
        </ons-list>

        {% if voting_started %}
            <ons-button modifier="large" ripple onclick="document.getElementById('main_form').submit();">Голосовать</ons-button>
        {% endif %}
    </form>
{% endblock %}