{% extends "base.html" %}
{% block page %}
    <ons-list modifier="inset">
        <ons-list-header>Вы голосуете за</ons-list-header>
        {% for girl in girls %}
        <ons-list-item modifier="longdivider">{{ girl.name }}, <em>{{ girl.faculty }}</em></ons-list-item>
        {% endfor %}
    </ons-list>

    <ons-card>
        <div class="content">
            <div style="text-align: center;">Для подтверждения введите свой код голосования.</div>
            <form id="main_form" method="post">
                <div style="text-align: center; margin-top: 30px;">
                    <p>
                        <ons-input id="code" name="code" modifier="underbar" placeholder="Код" pattern="[0-9]*" inputmode="numeric"></ons-input>
                    </p>
                    <p>
                        <ons-button ripple modifier="quiet" onclick="window.location.href='/';">Отмена</ons-button>
                        <ons-button ripple onclick="document.getElementById('main_form').submit();">Голосовать</ons-button>
                    </p>
                </div>
            </form>
        </div>
    </ons-card>
{% endblock %}